* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1c5981;
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    background: #111;
    height: 55%;
    width: 60%;
    border-radius: 30px;
}
